
<div id="background">	

	<div class="wrapper_skinny">
		<h1>Descrubre tu nuevo artista  <br>favorito, o sube tu propia música</h1>
		<%= link_to "Create a Podcast", new_podcast_registration_path, class:'button button_highlight'%>
		<a href="#" class="button button_white">Explora</a>
	</div>
		
</div>	
