
<div id="background">	

	<div class="wrapper_skinny">
		<h1>Descrubre tu nuevo artista  <br>favorito, o sube tu propia música</h1>
		<a href="#" class="button button_highlight">Sube Música</a>
		<a href="#" class="button button_white">Explora</a>
	</div>
		
</div>	
