<div id="banner" class="sign_in_banner">
	<h1>Welcome back. it's nice to see you</h1>
</div>
<div id="form">
	<div class="wrapper_skinny">
		<form>
			<div class="field">
				<label>Email</label><br>
				<input type="email">
			</div>
			<div class="field">
				<label>Password</label><br>
				<input type="password">
			</div>
			<div class="field">
				<label>text</label><br>
				<input type="text">
			</div>
			<div class="field">
				<label>Text Area</label><br>
				<textarea></textarea>
			</div>
			<div class="actions">
				<input type="submit" class="button button_highlight button_block">
			</div>

		</form>
	</div>
</div>