<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1>The RocketShip Podcast Dashboard</h1>
			
		</div>
	</div>
	<div id="links">
		<div class="wrapper_skinny">
			<ul>
				<li class="current">Episodes</li>
				<li><a href="#">New Episode</a></li>
				<li><a href="#">Account Settings</a></li>
				<li><a href="#">View Podcast</a></li>
			</ul>
		</div>
	</div>
	<div id="episodes">
		<div class="wrapper_skinny">
			<ul class="cf">
				
				<li class="cf">
					<div class="episode_thumbnail">
						<a href="#">
							<%= image_tag("home.jpg") %>
						</a>
					</div>
					<div class="episode_overview">
						<h2><a href="#">recusandae officia deserunt nisi eligendi eveniet!</a></h2>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fugit eos natus, provident culpa reprehenderit voluptatem iste similique temporibus. Voluptates quis ad aliquid nobis non ullam ipsa inventore quo eius.
						</p>
						<div class="authorized_links">
							<a href="#">Edit</a>
							<a href="#">Delete</a>
						</div>
					</div>
				</li>
				<li class="cf">
					<div class="episode_thumbnail">
						<a href="#">
							<%= image_tag("home.jpg") %>
						</a>
					</div>
					<div class="episode_overview">
						<h2><a href="#">recusandae officia deserunt nisi eligendi eveniet!</a></h2>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fugit eos natus, provident culpa reprehenderit voluptatem iste similique temporibus. Voluptates quis ad aliquid nobis non ullam ipsa inventore quo eius.
						</p>
						<div class="authorized_links">
							<a href="#">Edit</a>
							<a href="#">Delete</a>
						</div>
					</div>
				</li>
				<li class="cf">
					<div class="episode_thumbnail">
						<a href="#">
							<%= image_tag("negro.jpg") %>
						</a>
					</div>
					<div class="episode_overview">
						<h2><a href="#">recusandae officia deserunt nisi eligendi eveniet!</a></h2>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fugit eos natus, provident culpa reprehenderit voluptatem iste similique temporibus. Voluptates quis ad aliquid nobis non ullam ipsa inventore quo eius.
						</p>
						<div class="authorized_links">
							<a href="#">Edit</a>
							<a href="#">Delete</a>
						</div>
					</div>
				</li>

			</ul>


		</div>
	</div>
</div>


<div class="pagination">	
	<span class="previous_page disabled"> Previous</span>
	<em class="current">1</em>
	<a href="#">2</a>
	<a href="#" class="next_page">Next</a>
</div>