<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1>The RocketShip Podcast</h1>
			<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae cum deserunt ad aliquam corporis obcaecati? Pariatur voluptatibus mollitia cumque inventore reprehenderit laborum dolorem quam rem aliquid, sapiente, unde molestiae obcaecati.</p>
			<a href="" class="suscribe_link">Itunes</a>
			<a href="" class="suscribe_link">SounCloud</a>
			<a href="" class="suscribe_link">POdBay</a>
		</div>
	</div>

	<div id="breadcrumb">
		All Podcast
		<span>/</span>
		The RocketShip Podcast
	</div>
	
	<div id="episode_Content">
		<div class="wrapper_skinny">
			<%= image_tag("perfil.jpg" , class: 'current_episode_thumbnail') %>	
			<h2>recusandae officia deserunt nisi eligendi eveniet!</h2>
			<p class="description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fugit eos natus, provident culpa reprehenderit voluptatem iste similique temporibus. Voluptates quis ad aliquid nobis non ullam ipsa inventore quo eius perspiciatis dolorum quos delectus, labore ut est facere soluta laboriosam totam, earum deleniti libero. Molestiae, a, culpa. Rem veniam cumque quo.
			</p>
		</div>
	</div>
	
	<div id="episodes">
		<div class="wrapper_skinny">
			<ul class="cf">
				
				<li class="cf">
					<div class="episode_thumbnail">
						<a href="#">
							<%= image_tag("home.jpg") %>
						</a>
					</div>
					<div class="episode_overview">
						<h2><a href="#">recusandae officia deserunt nisi eligendi eveniet!</a></h2>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fugit eos natus, provident culpa reprehenderit voluptatem iste similique temporibus. Voluptates quis ad aliquid nobis non ullam ipsa inventore quo eius.
						</p>
					</div>
				</li>
				<li class="cf">
					<div class="episode_thumbnail">
						<a href="#">
							<%= image_tag("home.jpg") %>
						</a>
					</div>
					<div class="episode_overview">
						<h2><a href="#">recusandae officia deserunt nisi eligendi eveniet!</a></h2>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fugit eos natus, provident culpa reprehenderit voluptatem iste similique temporibus. Voluptates quis ad aliquid nobis non ullam ipsa inventore quo eius.
						</p>
					</div>
				</li>
				<li class="cf">
					<div class="episode_thumbnail">
						<a href="#">
							<%= image_tag("negro.jpg") %>
						</a>
					</div>
					<div class="episode_overview">
						<h2><a href="#">recusandae officia deserunt nisi eligendi eveniet!</a></h2>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fugit eos natus, provident culpa reprehenderit voluptatem iste similique temporibus. Voluptates quis ad aliquid nobis non ullam ipsa inventore quo eius.
						</p>
					</div>
				</li>

			</ul>


		</div>
	</div>
</div>


<div class="pagination">	
	<span class="previous_page disabled"> Previous</span>
	<em class="current">1</em>
	<a href="#">2</a>
	<a href="#" class="next_page">Next</a>
</div>