/* line 4, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
.wrapper_wide {
  width: 90%;
  margin: 0 auto;
}

/* line 8, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* line 12, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
.wrapper_skinny {
  width: 60%;
  margin: 0 auto;
}

/* line 16, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
#background {
  height: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
}
/* line 24, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
#background h1 {
  color: #fcfcfc;
  font-size: 3.0rem;
  font-weight: 150;
  letter-spacing: 1px;
  margin: 2rem 0 2rem 0;
}

/* line 35, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
.button {
  color: #fcfcfc;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  display: inline-block;
  min-width: 7.4rem;
  margin: 1.5rem 2.5% 0 2.5%;
}

/* line 48, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
.button_highlight {
  background-color: #00fffa;
  transition: background-color .4s ease-in-out;
}
/* line 51, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
.button_highlight:hover {
  background-color: #00d9d5;
}

/* line 56, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
.button_white {
  background-color: #fcfcfc;
  color: #111111;
  transition: background-color .4s ease-in-out;
}
/* line 60, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
.button_white:hover {
  background-color: #e9e9e9;
}

/* line 70, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
header {
  padding: 3rem 0;
}
/* line 72, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
header #logo {
  float: left;
  text-transform: uppercase;
  font-weight: 700;
  color: #fcfcfc;
  text-decoration: none;
}
/* line 79, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
header nav {
  float: right;
}
/* line 81, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
header nav ul {
  list-style: none;
  margin: 0;
}
/* line 84, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
header nav ul li {
  display: inline;
  margin-left: 2.5rem;
}
/* line 87, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
header nav ul li a {
  color: #fcfcfc;
  text-decoration: none;
}

/* line 98, /home/juan/Podcast_evg/app/assets/stylesheets/homepage.scss */
body.homepage {
  background-image: url(home_4.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-attachment: fixed;
}
/* line 5, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4rem;
}
/* line 10, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#banner h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
  padding: 5rem 0;
}

/* line 21, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
.podcast_banner {
  background-image: url(banner.jpg);
}

/* line 25, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#podcast {
  padding: 3rem;
}
/* line 27, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#podcast ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* line 31, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#podcast ul li {
  width: 23%;
  float: left;
  margin: 0 1% 2rem 1%;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.75);
  border-radius: .3rem;
}
/* line 39, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#podcast ul li img {
  width: 100%;
  max-width: 100%;
  border-radius: .35rem .35rem 0 0;
}
/* line 45, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#podcast ul li .podcast_overview {
  padding: 1rem 7.5%;
}
/* line 47, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#podcast ul li .podcast_overview h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #111111;
}
/* line 53, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#podcast ul li .podcast_overview .episode_count {
  color: #919191;
  font-size: 0.9rem;
  margin: .5rem 0 .25rem 0;
}
/* line 61, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#podcast ul li:hover img {
  opacity: .8;
}
/* line 65, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#podcast ul li:hover .podcast_overview h2 {
  color: #00fffa;
}

/* line 77, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#podcast_show #show_banner {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 5rem 0;
}
/* line 81, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#podcast_show #show_banner h1 {
  font-size: 5rem 0;
  font-weight: 300;
  color: #fcfcfc;
  margin: 0 0 .5rem 0;
}
/* line 87, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#podcast_show #show_banner .description {
  width: 75%;
  line-height: 1.75;
  margin: 0 auto 2rem auto;
  color: #777777;
}
/* line 93, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#podcast_show #show_banner .suscribe_link {
  font-size: .6rem;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  text-align: center;
  display: inline;
  background-color: #00fffa;
  border-radius: 2rem;
  padding: .5rem 1rem;
  margin: 0 5rem;
  text-decoration: none;
  transition: background-color .4s ease-in-out;
}
/* line 106, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#podcast_show #show_banner .suscribe_link:hover {
  background-color: black;
}

/* line 115, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#breadcrumb {
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: .7rem;
}
/* line 121, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#breadcrumb a {
  color: white;
  text-decoration: none;
}
/* line 124, /home/juan/Podcast_evg/app/assets/stylesheets/podcast.scss */
#breadcrumb a span {
  margin: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */
/* line 21, /home/juan/Podcast_evg/app/assets/stylesheets/application.css.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 28, /home/juan/Podcast_evg/app/assets/stylesheets/application.css.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}

/* line 33, /home/juan/Podcast_evg/app/assets/stylesheets/application.css.scss */
.cf:after {
  clear: both;
}

/* line 38, /home/juan/Podcast_evg/app/assets/stylesheets/application.css.scss */
a.dark {
  color: #111111;
}

/* line 44, /home/juan/Podcast_evg/app/assets/stylesheets/application.css.scss */
body.home_pod {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #949494), color-stop(1, #FFFFFF));
  background-image: -o-linear-gradient(bottom, #949494 0%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(bottom, #949494 0%, #FFFFFF 100%);
  background-image: -webkit-linear-gradient(bottom, #949494 0%, #FFFFFF 100%);
  background-image: -ms-linear-gradient(bottom, #949494 0%, #FFFFFF 100%);
  background-image: linear-gradient(to bottom, #949494 0%, #FFFFFF 100%);
}

/* line 60, /home/juan/Podcast_evg/app/assets/stylesheets/application.css.scss */
body.home_pod_show {
  background-image: url(negro.jpg);
}

/* line 66, /home/juan/Podcast_evg/app/assets/stylesheets/application.css.scss */
.pagination:before, .pagination:after {
  content: "";
  display: table;
}

/* line 71, /home/juan/Podcast_evg/app/assets/stylesheets/application.css.scss */
.pagination:after {
  clear: both;
}

/* line 75, /home/juan/Podcast_evg/app/assets/stylesheets/application.css.scss */
.pagination {
  text-align: center;
  margin: 1rem 0 5rem 0;
}
/* line 78, /home/juan/Podcast_evg/app/assets/stylesheets/application.css.scss */
.pagination a, .pagination .previous_page, .pagination .current, .pagination .next_page {
  padding: 0.75rem 1rem;
  margin: 0 .25rem;
  border-radius: .15rem;
  line-height: 1.25;
  text-decoration: none;
  background-color: #EDEFF5;
  font-weight: 700;
  font-size: normal;
  color: #111111;
}
/* line 88, /home/juan/Podcast_evg/app/assets/stylesheets/application.css.scss */
.pagination a:hover, .pagination .previous_page:hover, .pagination .current:hover, .pagination .next_page:hover {
  background-color: #00fffa;
  color: #fcfcfc;
}
/* line 93, /home/juan/Podcast_evg/app/assets/stylesheets/application.css.scss */
.pagination .current {
  background-color: #00fffa;
  color: #fcfcfc;
}
/* line 97, /home/juan/Podcast_evg/app/assets/stylesheets/application.css.scss */
.pagination .disabled {
  color: #C0C0C0;
}
/* line 99, /home/juan/Podcast_evg/app/assets/stylesheets/application.css.scss */
.pagination .disabled:hover {
  color: #C0C0C0;
  background-color: #EDEFF5;
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* line 9, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 77, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 98, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 110, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 118, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 127, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 136, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 145, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 154, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 162, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 170, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
sup {
  top: -0.5em;
}

/* line 174, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 185, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 193, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 204, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 212, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 356, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 367, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 376, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 387, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 396, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 405, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 416, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 421, /home/juan/.rvm/gems/ruby-2.2.1/gems/normalize-rails-3.0.3/vendor/assets/stylesheets/normalize-rails/normalize.css */
td,
th {
  padding: 0;
}
