/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require normalize-rails
 */



body{
	font-family: 'Open Sans', sans-serif;

}



.cf:before, .cf:after {
	content: "";
	display:table;
}

.cf:after {
	clear: both;
}


a.dark {
	color: #111111;
}



body.home_pod{
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #949494),
	color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(bottom, #949494 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #949494 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #949494 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #949494 0%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #949494 0%, #FFFFFF 100%);
}


body.home_pod_show{
	background-image: url(guy.jpg);
	width: 100%;
  	height: auto;
	background-size: cover;
	background-position: center;
	text-align: center;
	background-attachment: fixed;
	
}


.pagination:before, .pagination:after {
	content: "";
	display: table;
}

.pagination:after {
	clear: both;
}

.pagination {
	text-align: center;
	margin: 1rem 0 5rem 0;
	a, .previous_page, .current, .next_page {
		padding: 0.75rem 1rem;
		margin: 0 .25rem;
		border-radius: .15rem;
		line-height: 1.25;
		text-decoration: none;
		background-color: #EDEFF5;
		font-weight:  700;
		font-size: normal;
		color: #111111;
		&:hover{
					background-color:#00fffa;
					color: #fcfcfc;
			}
	}
	.current{
		background-color: #00fffa;
		color: #fcfcfc;
	}
	.disabled {
			color: #C0C0C0;
			&:hover{
					color:#C0C0C0;
					background-color: #EDEFF5;
			}
	}
}



