<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1>The RocketShip Podcast</h1>
			<p class="description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa laudantium ullam aliquam dolore odio, velit, excepturi ex, veritatis dolor cumque illum iusto officia. Odio magni, laboriosam! Officia, aspernatur recusandae culpa!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quod alias non quidem quibusdam sapiente quae tenetur. A in commodi, dolor natus incidunt, minima est deserunt consectetur numquam iusto soluta.
			</p>
			<a href="" class="suscribe_link">Itunes</a>
			<a href="" class="suscribe_link">SounCloud</a>
			<a href="" class="suscribe_link">POdBay</a>
			</div>
	</div>
</div>

<div id="breadcrumb">
	<a href="#">
		All Podcast
		<span>/</span>
		The RocketShip Podcast
	</a>
</div>

<div id="episodes">
	<div class="wrapper_skinny">
		<ul class="cf">
			<li class="cf">
				<div class="episode_thumbnail">
					<a href="#">
						<%= image_tag("perfil.jpg") %>
					</a>
				</div>
				<div class="episode_overview">
					<h2>
						<a href="#">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</a>
					</h2>
					<p class="description">
						veniam quibusdam laborum maiores voluptatum, nulla quidem, incidunt quos ducimus unde praesentium neque.
					</p>
				</div>
				
			</li>
		</ul>
	</div>
</div>