<!DOCTYPE html>
<html>
<head>
  <title>PodcastEvg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<% if @fondo == true %>
	<body class="homepage">
<% elsif  @fondo_pod == true%>	
	<body class="home_pod">
<% else %>	
	<body>
<% end %>	
	
<header class="cf">
	<div class="wrapper_wide">
			<a href="" id="logo">Podcast.fm</a>
		<nav>
			<ul>
				<li><a href="">Explore</a></li>
				<li><a href="">Sign in</a></li>
				<li><a href="">Create a Podcast</a></li>
			</ul>
		</nav>
	</div>	
</header>		
	<%= yield %>


</body>
</html>
